html, body {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: #00f;
}
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
p {
  margin: 1.5em 0;
}
#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.Demo {
  flex: 1;
  text-align: center;
}
